*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}
header{
  width: 100%;
  height: 100vh;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-position: center center;
  
  
}
nav{
  width: 100%;
  height: 83px;
  background-color:#251f65;
  

}
nav img{
  width: 120px;
  margin-left: 140px;
  border-radius: 10px;
}
#main-title{
	font-family: Roboto;
	font-size: 55px;
  float: left;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  text-shadow: 2px 2px 5px black;
  color:rgb(253, 9, 9);
}
nav ul{
  float: right;
  margin-left: 70px;
  margin-right: 40px;
  text-transform: uppercase;
  height: 10px;
  margin-top: 24px;
}
nav ul li{
  margin:0 15px 0 15px;
  display: inline-block;
  position: relative;
  
}
nav ul li a{
  cursor: pointer;
  background-color: #251f65;
  text-decoration: none;
  color: rgb(252, 252, 252);
  display:block;
  padding: 3px 5px 3px 5px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 4px;
}

nav ul li a:hover{
  background-color:#e4800d;
  border-style: groove rgb(243, 32, 32);
  border-radius: 20px;
  font-weight: 400;
  color: #fff;
  transition: .2s;
  transform: scale(1.1);
}

#lg 
{
    width: 83px;
    height: 83px;
    float: left;
}
/*
@media (max-width:600px) {
  nav ul li{
    width:100%;
    display: inline-block;
    float:none;
    opacity: .8;
    font-size: 15px;
    font-weight: bold;

    background:#1a3300;
  }

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header title//////////////////////////////*/

#sub-title{
  text-align: center;
  margin: 25px 0 0 145px;
  float: left;
  padding: 5px auto;
  font-family: Nunito;
	font-size: 45px;
	letter-spacing: 3px;
	word-spacing: 5px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
	text-shadow: 5px 5px 5px black;
}

#start
{
  width: 35%;
  margin: 90px 0 10px 120px;
  border: solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  
}
#register{
  color: rgb(44, 40, 40);
  margin-left: 70px;
  font-size: 18px;
  margin-top: 10px;
}

.CheckBox
{
  margin-left:60px;
  font-size: 19px;
  margin-right: 40px;
  background-color: rgba(250, 248, 248, 0.096);
}
#signin
{
  background-color: rgb(255, 255, 255);
  margin-left:130px ;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 78%;
  padding: 15px;
  margin: 20px 0 22px 40px;
  display: grid;
  border:none;
  background: #bebeb69d;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(247, 244, 244);
  outline: none;
  border: rgb(233, 157, 173);
  border-radius: 10px;
  font-size: 20px;
}



/* Set a style for the submit/register button */
form div button {
  background-color: #0b5091;
  color: white;
  padding: 16px 20px;
  margin: 8px 0 5px 150px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
  letter-spacing: 2px;
  font-weight: 700;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
/*

#search-bar input{
  height: 12px;
  margin: 0px 150px 0px 1000px;
	width: 200px;
	font-size: 25px;
	font-family: Roboto;
	font-weight: 400;
	background: rgba(255,255,255);
  opacity: .6;
}
#search-bar input:focus{
	background: rgb(245, 239, 239);
}
#search-bar button{
	background: rgba(25, 194, 48, 0.932);
	width: 50px;
  float: right;
  margin: 20px 10px 10px 100px;
  opacity: 0.5;
	height: 43.5px;
}
#search-bar button:hover{
	cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(152, 245, 156);
	background: rgba(125, 209, 40, 0.911);
}
#search-bar button .fa-search{
	vertical-align: middle;
  padding-bottom: 6px;
  opacity: 1;
	color: rgb(20, 20, 22);
}

*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\2nd page////////////////////////////////*/
#explore{
  color: rgb(15, 41, 30);
  margin: 70px 80px 0 100px;
  font-size: 60px;
  font-weight: 600;
  font-family: sans-serif;
}
.image-set{
	width: 95%;
	margin: 60px 30px 100px 70px;
}
.image-set .image-box{
	position: relative;
	text-align: center;
	display: inline-flex;
}
.image-set img{
	width: 320px;
  height: auto;
  margin: 3px;
  border-radius: 10px 10px 10px 10px;
 
}
.image-set .image-box .image-content{
	position: absolute;
	overflow: hidden;
	bottom: 1%;
	left: 0;
	right: 0;
	width: 100%;
	height: 0%;
	transition: .5s ease;

}
.image-set .image-box .image-content .text{
	position: absolute;
	text-transform: uppercase;
	background: rgba(0,0,0,0.7);
	width: 98%;
	height: auto;
	text-align: center;
  top: 50%;
  border-radius: 15px;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.image-set .image-box .image-content .text a{
	text-decoration: none;
}
.image-set .image-box .image-content .text h1{
	color: #fff;
	font-family: Nunito;
	font-size: 40px;
}
.image-set .image-box:hover .image-content{
	cursor: pointer;
	height: 25%;
	transition: 0.5s;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\3rd page////////////////////////////////////*/

#explore_cuisines{
  color: rgb(18, 19, 18);
  margin: 100px 250px 20px 350px;
  font-size: 75px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#image_set_sec{
  background:url(images/bg-eat.jpg) ;
  background-position: center ;
  background-size: cover;
  width: 100%;
  height: auto;
	margin:0px;
}
.image_set .image_box{
	position: relative;
	text-align: center;
  display: inline-flex;
  margin: 10px 20px 50px 65px;
}
.image_set img{
	width: 600px;
  height: auto;
  border-radius: 40px 40px 40px 40px;
}


.image_set .image_box .image_content{
	position: absolute;
	overflow: hidden;
	bottom: 1%;
	left: 0;
	right: 0;
  width: 100%;
  
	height: 0%;
	transition: .5s ease;

}
.image-set .image_box .image_content .text{
	position: absolute;
	text-transform: uppercase;
	background: rgba(0,0,0,0.7);
  width: 98%;
  border-radius: 15px;
	height: auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.image_set .image_box .image_content .text a{
	text-decoration: none;
}
.image_set .image_box .image_content .text h1{
  color: #fff;
  background-color: rgb(0, 0, 0);
	font-family: Nunito;
  font-size: 50px;
  opacity: 80%;
  text-transform: uppercase;
}
.image_set .image_box:hover .image_content{
	cursor: pointer;
	height: 20%;
  transition: 0.6s;
  
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\4th page////////////////////////////////*/


#explore2{
  color: rgb(34, 46, 41);
  margin: 40px 0 0 600px;
  font-size: 70px;
  font-weight: 500;
  font-family: sans-serif;
}

.image-set2{
  width: 90%;
  
  margin: 40px 50px 40px 100px;
}
.image-set2 .image-box2{
  position: relative;
  text-align: center;
  margin: 5px 10px 5px 10px;
  display: inline-flex;
  
}
.image-set2 img{
  border-radius: 5px 5px 5px 5px;
  width: 600px;
  height: auto;
}
.image-set2 .image-box2 .image-content2{
	position: absolute;
	overflow: hidden;
	bottom: 1%;
	width: 100%;
	height: 0%;
	transition: .5s ease;

}
.image-set2 .image-box2 .image-content2 .text{
	position: absolute;
	text-transform: uppercase;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.image-set2 .image-box2 .image-content2 .text a{
	text-decoration: none;
}
.image-set2 .image-box2 .image-content2 .text h1{
	color: #fff;
	font-family: Nunito;
	font-size: 40px;
}
.image-set2 .image-box2:hover .image-content2{
	cursor: pointer;
	height: 20%;
	transition: 0.5s;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\5th page////////////////////////////////*/

.book-accommodation-div{
  width: 50%;
  top: 10%;
  margin: 50px 50px 50px 110px;
}
#accommodation-title{
  margin: 40px 0 30px 0;
}

.fa-plus{
	margin: 30px 20px 30px 20px;
}
button.collapse{
	width: 100%;
	border: none;
	outline: none;
	font-family: Nunito;
	font-size: 18px;
	margin: 0;
	padding: 10px 20px;
	text-align: left;
	background: rgb(119, 183, 185);
	cursor: pointer;
	transition: background 0.2s linear;
}
button.collapse::after{
	content: '\f067';
	font-family: "fontawesome";
	font-size: 17px;
	padding: 5px 20px 5px 0;
	float: left;
}
button.collapse.active::after{
	content: '\f068';
}
button.collapse:hover, button.collapse.active{
	background: #7add66;
}
.collapse-content{
	padding: 0 20px;
	line-height: 30px;
	border-left: 2px solid #eee; 
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	max-height: 0;
	overflow: hidden;
	background: whitesmoke;
	transition: max-height 0.2s ease-in-out;
}

/*\\\\\\\\\\\\\\\\\\\\\\footer/////////////////////////*/


.about{
  float:left;
  padding: 50px;
  margin: 20px 100px 100px 250px;
}
.about ul{
  margin: 25px 10px 10px 15px;
  color: #eee;

}
.about ul li{
  margin: 7px 0 7px 0;
}
.about ul li a{
  margin: 20px 20px 20px 10px ;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  
}
.about h2{
  border-bottom:2px solid #fff;
  color: rgb(255, 255, 255);
  padding:10px;
  font-size: 35px;
}
.about-list:hover{
  color: #5cda42;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.contact{
  float:left;
  padding: 50px;
  margin: 20px 20px 100px 200px;
}
.contact ul{
  margin: 25px 10px 10px 15px;
  color: #eee;

}
.contact ul li{
  margin: 7px 0 7px 0;
}
.contact ul li a{
  margin: 20px 20px 20px 20px ;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  
}
.contact h2{
  border-bottom:2px solid #fff;
  color: rgb(255, 255, 255);
  padding:10px;
  font-size: 35px;
}
.contact-list:hover{
  color: #5cda42;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.lower-footer{
	width: 100%;
	
	color: #fff;
	font-size: 13px;
	font-family: Roboto;
	font-weight: 300;
	background: #040f27;
}
.lower-footer-content{
	width: 90%;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
}
#footer-align-left{
  width: 65%;
  border-top: 2px solid #fff;
	padding:15px 0 10px 30px;
}
#footer-align-right{
  text-align: right;
  border-top: 2px solid #fff;
	width: 35%;
	padding: 15px 30px 10px 0px;
}
#footer-align-right a{
	padding: 0 7px;
	color: #fff;
	transition: 0.3s;
}
#footer-align-right a:hover{
	color: #1bf01b;
}