*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}
body{
  width: 100%;
  height: 100vh;
  background-image: url(bg1.jpg);
  background-size: cover;
  background-position: center;
}
nav{
  width: 100%;
  height: 80px;
  background-color:#1a3300;
  line-height: 80px;

}
nav ul{
  float:right;
  margin-right: 50px;
  text-transform: uppercase;
  line-height: 55px;

}
nav ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.8s;

}
nav ul li a{
  padding: 12px 14px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display:block;
  font-family: sans-serif;

}
.submenu{
  display: none;
  text-transform: none;
  position: absolute;
  width: 145px;
  background-color: #1a3300;


}
.submenu_item{
  position: relative;
  width: 145px;

}
nav ul li:hover{
  background-color:#206020;

}
nav ul li:hover .submenu{
  display:block;
  transition: all .8s;
  background-color: #1a3300;
  border-left: 10px solid rgba(0, 0, 0);
}
.logo a{
  position: relative;
  color:#99e6ff;
  display:inline-block;
  background: #1a3300;
  text-transform: uppercase;
  list-style-image: none;
  font-size: 30px;
  letter-spacing: 4px;
  margin-left: 45px;
  overflow: hidden;
  transition: .2s;
  font-weight: bold;
}
.logo a:hover{
  color: #1a3300;
  background: #bde78d;
  box-shadow: 0 0 15px #c4ff4d,0 0 45px #c4ff4d,0 0 80px #ccff66;
}
.menu_item{
  display: none;
}


h3 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  color: #000;
  background: #fff;
  padding: 7px;
  opacity: .8;

}
h3:hover .menu_item{
  display: block;
  transition: all .5s;
  background: #ccff66;
  border-left: 10px solid rgba(0, 0, 0);
  color:#1a3300;
  box-shadow: 0 0 10px #c4ff4d,0 0 25px #c4ff4d,0 0 40px #ccff66;
}
@media (max-width:600px) {
  nav ul li{
    width:100%;
    display: inline-block;
    float: left;
    opacity: .8;
    font-size: 15px;
    font-weight: bold;

    background:#1a3300;
  }
nav ul li a{
  width:100%;
}
nav ul li:hover{
  border-left: 10px solid #000;
  transition: .8s all;
  opacity: .9;
}
  h3{
    display: none;
  }
  .submenu{
    background: #1a3300;
    position: relative;
    width:145px;
    opacity: 1;
  }
  nav ul li:hover .submenu{
    left:-54%;
    background: #fff;
    color: #206020;
    border-left: 10px solid #fff;
    opacity: 1;
  }
}
